body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lato: Lato;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-lg: 18px;

  /* Colors */
  --color-midnightblue: #000a41;

  /* Gaps */
  --gap-0: 0px;

  /* Paddings */
  --padding-71xl: 90px;
  --padding-13xl: 32px;
}
